body {
    text-align: center;
    background: #000000;
    font-size: 100%;
    overflow-x: hidden;
}

#wrapper {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    top: 0;
    left: 0;
    font-family: 微軟正黑體;
    color: white;
}

#main_picture {
    position: relative;
    width: 90%;
    left: 0;
    right: 0;
    margin: 10px auto;
}

#description {
    width: 92%;
    position: relative;
    margin: auto;
    font-size: 20px;
    text-align: left;
}